---
import '@/styles/globals.css';
import { categorySchema, severitySchema, foodSchema } from '@/lib/schema';
import { fetchSheet } from '@/lib/api';

import Layout from '../layouts/Layout.astro';
import FoodList from '../components/FoodList';
import Search from '../components/Search';

const categories = await fetchSheet('Category', categorySchema);
const diet = await fetchSheet('Diet', foodSchema);
const severities = await fetchSheet('Severity', severitySchema);
---

<Layout title="Welcome to Astro.">
  <div class="container mx-auto p-4 max-w-6xl">
    <h1 class="text-3xl font-bold mb-6">Food Consumption Severity</h1>
    <Search categories={categories} severities={severities} client:load />
    <FoodList diet={diet} severities={severities} client:load />
  </div>
</Layout>
